body{
  background:yellow;
}
.container{
  margin-top:200px;
  background: red;

}
.container. jumbotron{
  background: red;
}
.jumbotron a{
  background:yellow;
  color:red;
  border:2px solid green;
}
img{
  height:200px;
  width:30%;
  float:left;
  margin:1.5%
  border:2px solid red;
}
h1{
  color:white;
  text-align:center;
  background:red;
}
table,thead,tr,th,td{
  color:yellow;
  border:2px solid white;
  font-size:20px;
  margin:auto;
  background:red;

}
thead,th{
  color:white;
  border:2px solid white;
  font-size:20px;
  margin:auto;
  background:red;
}
table tr:nth-of-type(even){
  background:#f4c242;
}
