<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='container' align='center'>
      <div class='jumbotron'>
        <h1>WELCOME TO TEJASWINI JOBS PORTAL</h1>
        <a class='btn btn-primary btn-lg' href='hydjobs/'role='button'>Hyd jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class='btn btn-primary btn-lg' href='' role='button'>Blore jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class='btn btn-primary btn-lg' href='' role='button'>chennai jobs jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class='btn btn-primary btn-lg' href='' role='button'>Pune jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </div>
    </div>

  </body>
</html>
